/* component */
.slad-main-container {
    height: max-content;
    background-color: #ffffff;
}
.slad-padding-all-10 {
    padding: 10px 10px 10px 10px;
}
.sladcovich-alphaautob24-table {
    font-size: 12px;
}
.sladcovich-alphaautob24-costprice-total {
    position: absolute;
    top: 6px;
    padding: 1px 3px 1px 3px
}

/* select2 */
.select2-container--open {
    z-index: 9999999
}
